variables:
  VERSION: 1.0.0

include:
  - template: Jobs/SAST-IaC.gitlab-ci.yml
    rules:
      - if: $CI_COMMIT_BRANCH == "main"

stages:
  - test
  - build

build:
  stage: build
  image: docker:29-cli
  services:
      - docker:29-dind
  before_script:
    - echo $DOCKER_HUB_PASSWORD | docker login -u $DOCKER_HUB_USER --password-stdin
  script:
    - docker build -t $DOCKER_HUB_REGISTRY:$VERSION . --build-arg CLIENT_ID=$GITLAB_CLIENT_ID
    - docker push $DOCKER_HUB_REGISTRY:$VERSION
    - docker tag $DOCKER_HUB_REGISTRY:$VERSION $DOCKER_HUB_REGISTRY:latest
    - docker push $DOCKER_HUB_REGISTRY:latest
  rules:
    - if: $CI_COMMIT_BRANCH == "main"
