<div class="tw-mb-5">
    @if (pipelineService.isLoading()) {
        @for (i of [1, 2, 3, 4, 5]; track i) {
            <p-skeleton height="4.125rem" width="100%" styleClass="tw-mb-3"></p-skeleton>
        }
    }
    @if (pipelineService.projects().length > 0 && !pipelineService.isLoading()) {
        <p-accordion [multiple]="true" [value]="pipelineService.getActivePipelines()"
                     (onOpen)="pipelineService.setPipelineStateFromId($event, true)"
                     (onClose)="pipelineService.setPipelineStateFromId($event, false)">
            @for (project of pipelineService.projects(); track project.id) {
                <p-accordion-panel class="tw-mb-3" [value]="project.id">
                    <p-accordion-header class="!tw-border-t !tw-border-s !tw-border-e !tw-border-[#3f3f46]">
                        <span class="tw-me-auto tw-flex tw-items-center">
                            <img class="tw-me-2" src="assets/gitlab/project.svg" alt="Gitlab project icon"/>
                            <span>{{ project.name }}</span>
                        </span>
                        <span class="tw-flex tw-items-center tw-pe-2">
                            <app-pipeline-status-icon class="tw-me-4 tw-flex tw-items-center" [size]="24"
                                                      [status]="project.pipelines.nodes[0].status"/>
                            <span class="tw-hidden @3xl/main:tw-inline">
                                Last update: {{ project.lastActivityAt | date: 'dd/MM/yyyy mm:hh' }}
                            </span>
                        </span>
                    </p-accordion-header>
                    <p-accordion-content>
                        <div class="tw-pt-4">
                            @for (pipeline of project.pipelines.nodes; track pipeline.path) {
                                <app-pipeline-detail
                                    [pipeline]="pipeline"
                                    [showDivider]="$index < project.pipelines.nodes.length - 1"
                                />
                            }
                        </div>
                    </p-accordion-content>
                </p-accordion-panel>
            }
        </p-accordion>
    }
</div>
@if (pipelineService.projects().length == 0 && !pipelineService.isLoading() && pipelineService.firstLoad()) {
    <div class="tw-flex-grow tw-mb-5">
        <div class="tw-flex tw-justify-center tw-items-center tw-flex-col tw-h-full">
            <img src="assets/gitlab/empty-projects.svg" alt="Empty projects icon"/>
            <p class="tw-text-gray-200 tw-mt-5">There are no projects available to be displayed here.</p>
        </div>
    </div>
}
@if (pipelineService.projects().length == 0 && !pipelineService.isLoading() && !pipelineService.firstLoad()) {
    <div class="tw-flex-grow tw-my-10">
        <div class="tw-flex tw-justify-center tw-items-center tw-flex-col tw-h-full">
            <img src="assets/gitlab/search.svg" width="144" height="144" alt="Search icon"/>
            <p class="tw-text-gray-200 tw-mt-5">Use the search bar to find a projects.</p>
        </div>
    </div>
}
