<div class="center">
    <p-card>
        <ng-template pTemplate="content">
            <div class="tw-flex tw-flex-row tw-justify-center tw-px-16 tw-pt-0 tw-pb-8 tw-items-baseline">
                <img class="logo" src="assets/logo-custom.svg" alt="Gitlab logo"/>
            </div>
            <div class="tw-flex tw-justify-center tw-px-20">
                <span class="f-header tw-whitespace-nowrap">Gitlab Pipeline Viewer</span>
            </div>
        </ng-template>
        <ng-template pTemplate="footer">
            <div class="tw-text-center tw-mb-4">
                <p-button styleClass="p-button-outlined" (onClick)="login()">
                    <img alt="logo" src="assets/icon.svg"
                         style="width: 1.5rem"/>
                    <span class="tw-ms-2 font-bold">Accedi a Gitlab</span>
                </p-button>
            </div>
        </ng-template>
    </p-card>
</div>
<div class="p-component icons8-credit">
    <a target="_blank" href="https://icons8.com/icon/104145/gitlab">Gitlab</a> icon by <a target="_blank" href="https://icons8.com">Icons8</a>
</div>