<div class="tw-grid tw-grid-cols-8">
    <span (keyup.enter)="searchPipelines()"
          class="tw-col-span-8 @3xl/main:tw-col-span-5
                 tw-me-0 @3xl/main:tw-me-2
                 tw-mb-6 @3xl/main:tw-mb-0
                 p-float-label p-input-icon-left">
        <i class="pi pi-search"></i>
        <input class="tw-w-full" pInputText id="search" [(ngModel)]="search"/>
        <label htmlFor="search">Project name or group name</label>
    </span>
    <span class="tw-me-0 @3xl/main:tw-me-2
                     tw-col-span-8 @3xl/main:tw-col-span-2
                     tw-mb-6 @3xl/main:tw-mb-0
                     p-float-label">
        <p-dropdown styleClass="tw-w-full" [options]="statusList" [(ngModel)]="selectedStatus"
                    id="status-select" placeholder="Select status" [showClear]="true"
                    inputId="status-select"/>
        <label for="status-select">Pipeline status</label>
    </span>
    <span class="tw-col-span-8 @3xl/main:tw-col-span-1">
        <p-button styleClass="tw-w-full" icon="pi pi-search" label="Search"
                (click)="searchPipelines()"></p-button>
    </span>
</div>