@import "primeicons/primeicons.css";
@tailwind utilities;

html::-webkit-scrollbar {
  display: none;
}

body {
  margin: 0 !important;
  overflow-x: hidden !important;
  font-family: Lato, Helvetica, sans-serif !important;
}

.center {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  padding: 10px;
}

.f-header {
  font-size: 1.75rem;
}

.f-profile-name {
  font-size: 1.5rem;
}

.no-box-shadow:focus {
  box-shadow: none !important;
}

.p-overlaypanel {
  margin-top: 1.2rem !important;
}

.p-column-title {
  font-size: 14px;
  white-space: nowrap;
}

@media screen and (max-width: 768px) {
  .f-header {
    font-size: 1.5rem;
  }
}
